* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: rgb(218, 246, 255);
}

.bg-myBlue {
  background-color: #5f788a;
}

.nav--container {
  display: flex;
  align-items: center;
  height: 70px;
}

.nav--brand {
  margin-left: 28.3%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 25px;
}

.nav--text_container {
  align-items: center;
  font-size: 19px;
  margin-left: 14px;
  color: white;
}

.content {
  margin-top: 70px;
}

.app-icon {
  width: 50px;
  margin-right: 10px;
}

.home--logo {
  width: 500px;
}

.home--container > h1 {
  font-family: 'Allura';
  font-size: 75px;
  text-align: center;
  margin-top: 150px;
}

.profile {
  margin-top: 150px;
}

.profile > p {
  font-size: 32px;
}

.profile--container {
  font-family: 'Allura';
  color: black;
  display: flex;
  font-size: 75px;
  align-content: center;
  justify-content: center;
  padding: 30px 30px;
  margin-top: 5px;
  margin: 40px 40px;
}

.profile--container > h1 {
  font-size: 75px;
}



.profile--img--box {
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.profile--img {
  width: 200px;
}
.profile--info-header {
  grid-column: -1 / 1;
}

.profile--recipe-header {
  grid-column: -1 / 1;
}

.profile--info {
  border-style: groove;
  border-radius: 25px;
  background-color: #5f788a;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  display: grid;
  padding: 30px 30px;
  margin: 40px 40px;
  margin-bottom: 0;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.profile--recipes {
  border-style: groove;
  border-radius: 25px;
  background-color: #5f788a;
  display: grid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 30px 30px;
  margin: 40px 40px;
  margin-top: 30px;
  place-items: center;
}

.recipe-page{
  margin-top: 150px;
  font-family: 'Allura';
  font-size: 75px;
}

.recipe-page > h1{
  font-size: 75px;
}

.recipe-container {
  background-color: #5f788a;
  border-radius: 25px;
}