{% extends "layout.html" %}
{% block content %}
<html>

<head>
    <style>
        p.c {
            font-family: 'Allura';
            font-size: 30px;
            text-align: left;
            color: black;
        }

        p.d {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 15px;
            text-align: left;
            color: black;
        }
    </style>
</head>

<body>
    <br></br>
    <p class="c">About Our Food App</p>
    <p class="d">Our app can search food based on its name, category, area, ingredient, etc. Also our app will provide
        specific
        recipe for each food. Our app can help calculate users' BMI value. Users can edit their information at any time.
    </p>
    <br></br>
    <p class="c">Who It Is Made By</p>
    <p class="d">Joshuah Tang</p>
    <p class="d">Zo Lightfoot</p>
    <p class="d">Batt Benoit Somoko Balantpli</p>
    <p class="d">Junqiang Chen</p>

</body>
{% endblock content %}

</html>