{% extends "layout.html" %}
{% block content %}
<html>

<head>
  <style>
    .welcome-text {
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: 1fr;
    }
    p.a {
      font-family: 'Allura';
      font-size: 70px;
      text-align: Center;
      color: black;
    }
    p.d {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 15px;
      text-align: left;
      color: black;
    }
    </style>
</head>

<body>
  <div class="welcome-text">
    <p class="a">Welcome To Our Recipe Book</p>
    <p class="b">First Time here?...Please Sign Up, Otherwise Go ahead and Login In !</p>
  </div>
</body>
{% endblock content %}

</html>